html{
    background-image: url(https://github.com/ultimatecodeninja/homepage/blob/main/Yellow-Aerofoil-Car-Wallpapers-1920x1080.jpg);
}

body{
    background-image: url(Photo-0061.jpg);
    background-position: center right;
    background-repeat: no-repeat;
}

main{
    background-image: url(Big-data-123-1024x768.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
}

footer{
    background-image: url("Picture 038.jpg");
    background-repeat: no-repeat;
}

a{
    color: black;
}
